body{
	background-color: lavenderblush;
}
div{
	height: 15px;
}
.p1{
	font-size: 50px;
	text-align: center;
	color: lightcoral;
	font-family: cursive;
	background-color: lightgray;
}
a.one:hover{
	background-color: lightgray;
}
a.one:active{
	color: lightcoral;
}
a.one{
	font-size: 40px;
	text-decoration: none;
}
.btn1{
	width: 200px;
	height: 150px;
	font-size: 30px;
	font-family: cursive;
	border: dotted 6px lightcoral;
	border-radius: 10%;
	color: lightgray;
	transform: -y(50px);
}
.btn1:hover{
	border: dotted 8px lightcoral;
	color: lightcoral;
}
.original-button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  font-weight: bold;
  transition: 0.3s;
  background-image: linear-gradient(90deg, rgba(247, 238, 12, 1) 5%, rgba(255, 151, 29, 1) 26%, rgba(233, 94, 52, 1) 45%, rgba(154, 39, 238, 1) 64%, rgba(35, 102, 247, 1) 81%, rgba(88, 139, 250, 1) 95%);
}

.original-button:hover{
  opacity: .5;
}
.button-56{
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after{
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after{
  transform: translate(0, 0);
}

.button-56:active{
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover{
  outline: 0;
}
@media (min-width: 768px){
  .button-56{
    padding: 0 40px;
  }
}	
